################################################################################
# Copyright (c) 2021 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
################################################################################

bpdm:
  # Name of this application (shown in Swagger) (on default set by maven resource filtering)
  name: '@project.name@'
  # Version of this application (shown in Swagger) (on default set by maven resource filtering)
  version: '@project.version@'
  # Description of this application (shown in Swagger) (on default set by maven resource filtering)
  description: '@project.description@'
  # The url from which this API is reachable
  # Will appear as server item in the OpenAPI document
  # Will also be used by Swagger as base-url to perform requests against
  # If empty Swagger will generate the OpenAPI server url when accessing the Swagger page
  url:
  bpn:
    # The characters that can make up a BPN
    alphabet: 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ
    # Modulus for BPN checksum creation
    checksum-modulus: 1271
    # Radix for BPN checksum creation
    checksum-radix: 36
    # Length of BPN (excluding prefix and checksum)
    counter-digits: 10
    # Name of the BPNA counter entry in the configuration table
    # A BPNA is calculated from a number that is being counted up and kept track of in the entry
    counter-key-addresses: bpn-a-counter
    # Name of the BPNL counter entry in the configuration table
    # A BPNL is calculated from a number that is being counted up and kept track of in the entry
    counter-key-legal-entities: bpn-l-counter
    # Name of the BPNS counter entry in the configuration table
    # A BPNS is calculated from a number that is being counted up and kept track of in the entry
    counter-key-sites: bpn-s-counter
    # Generic abbrevation of a business partner number
    # Is used for creating the BPN prefix (on default all bpns start with 'BPN...')
    id: BPN
    # Abbreviation for legal entities
    # Is used for creating the BPN prefix (on default legal entity BPNs start with 'BPNL...')
    legal-entity-char: L
    # Abbreviation for sites
    # Is used for creating the BPN prefix (on default site BPNs start with 'BPNS...')
    site-char: S
    # Abbreviation for addresses
    # Is used for creating the BPN prefix (on default address BPNs start with 'BPNA...')
    address-char: A
  controller:
    # How many BPNs can be passed in one search request
    search-request-limit: 100
  client:
    orchestrator:
      # The base-url of the Orchestrator-API
      base-url: http://localhost:8085/
      # Whether to enable oauth2 authentication when connecting to the Orchestrator
      security-enabled: true
      provider:
        # Create an oauth2 provider for the orchestrator connection and infer token issuing uri from the security properties
        issuer-uri: ${bpdm.security.auth-server-url:http://localhost:8180}/realms/${bpdm.security.realm:master}
      registration:
        # The orchestrator client should use client credentials mechanism to request a token from the provider
        authorization-grant-type: client_credentials
        # Use a default client id for the client credentials request
        client-id: sa-cl25-cx-2
        # Please provide a secret here
        client-secret: "**********"
  tasks:
    # When and how often the Pool should poll for golden record tasks in the orchestrator
    cron: '10/30 * * * * *'
    # Up to how many tasks can be requested at the same time
    batchSize: 20
    step: "PoolSync"
  security:
    # Allowed origins for CORS
    cors-origins: '*'
    # Whether endpoints should be authenticated/authorized
    enabled: true
    # Base-URL including protocol of the Keycloak server
    auth-server-url: http://localhost:8180
    # URL to the auth endpoint of the Keycloak server
    auth-url: ${bpdm.security.auth-server-url}/realms/${bpdm.security.realm}/protocol/openid-connect/auth
    # This application's resource or client. Used for finding permissions in the given Bearer token
    client-id: Cl7-CX-BPDM
    # The keycloak realm to consider
    realm: CX-Central
    # URL to the token refresh endpoint of the Keycloak server
    refresh-url: ${bpdm.security.token-url}
    # URL to the token validation endpoint of the Keycloak server
    token-url: ${bpdm.security.auth-server-url}/realms/${bpdm.security.realm}/protocol/openid-connect/token
    permissions:
      # Name of the permission to read business partners
      readPartner: read_partner
      # Name of the permission to upsert business partners
      writePartner: write_partner
      # Name of the permission to read business partners that belong to a Catena-X member
      readMemberPartner: read_partner_member
      # Name of the permission to read metadata
      readMetaData: read_metadata
      # Name of the permission to create new metadata
      writeMetaData: write_metadata
      # Name of the permission to read changelog entries from business partners
      readChangelog: read_changelog
      # Name of the permission to read changelog entries from Catena-X member business partners
      readMemberChangelog: read_changelog_member
  datasource:
    # Host name of the used datasource
    host: localhost
    # The database schema to use for this application
    schema: bpdm
#
# From here on are framework and dependency configuration
# More information about those properties can be taken from the respective documentation of Spring or the dependency
#
logging:
  pattern:
    # Use BPDM custom log pattern
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %green([%-10.10X{user:-System}]) %magenta([%-10.10X{request:-No Request}]) %yellow([%-15.15t]) %cyan(%-40.40logger{39}) : %m%n%wEx"
  level:
    # On default show only logs from INFO and above
    root: INFO
    org:
      eclipse:
        tractusx:
          bpdm:
            # Logs from this application's package should be DEBUG and above
            pool: DEBUG
management:
  endpoint:
    health:
      show-details: always
      probes:
        # Enable actuator health endpoints for probing
        enabled: true
  health:
    livenessState:
      # Include liveness state in health response (responsive at all)
      enabled: true
    readinessState:
      # Include readiness state in health response (ready to accept traffic)
      enabled: true
spring:
  security:
    oauth2:
      resourceserver:
        # Infer the uris for token validation from the application's security properties
        jwt:
          issuer-uri: ${bpdm.security.auth-server-url}/realms/${bpdm.security.realm}
          jwk-set-uri: ${bpdm.security.auth-server-url}/realms/${bpdm.security.realm}/protocol/openid-connect/certs
  datasource:
    # We use postgres as datasource
    driverClassName: org.postgresql.Driver
    # No password on default (Change for production)
    password: ''
    # Connect to postgres database over jdbc protocol
    url: jdbc:postgresql://${bpdm.datasource.host}:5432/bpdm
    # Default username for BPDM applications
    username: bpdm
  flyway:
    # Activate flyway for automatic database migration
    enabled: true
    # Apply migrations to this application's default schema
    schemas: ${bpdm.datasource.schema}
  jpa:
    # JPA should speak Postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      # We use hibernate as JPA implementation
      hibernate:
        # Hibernate should assume the default schema of this application on default
        default_schema: ${bpdm.datasource.schema}
        # Send updates and inserts out in batches to decrease network connections to the database
        jdbc:
          batch_size: 16
        order_inserts: true
        order_updates: true
springdoc:
  # Api document should be in pretty JSON
  writer-with-default-pretty-printer: true
  api-docs:
    # Generate Open-API document
    enabled: true
    # Set custom path for the document
    path: /docs/api-docs
  swagger-ui:
    # Swagger UI should not be available at its default URL (instead on location defined in path)
    disable-swagger-default-url: true
    # Override default Swagger UI location
    path: /ui/swagger-ui
    # Show validation specific information for properties (pattern, minimum, maximum, etc...)
    show-common-extensions: true
