---
################################################################################
# Copyright (c) 2021,2024 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
################################################################################

apiVersion: v2
name: bpdm
type: application
description: A Helm chart for Kubernetes that deploys the BPDM applications
version: 5.3.0-SNAPSHOT
appVersion: "6.3.0-SNAPSHOT"
home: https://github.com/eclipse-tractusx/bpdm
sources:
  - https://github.com/eclipse-tractusx/bpdm
maintainers:
  - name: Nico Koprowski
  - name: Sujit Karne

dependencies:
  - name: bpdm-gate
    version: 6.3.0-SNAPSHOT
    alias: bpdm-gate
    condition: bpdm-gate.enabled
  - name: bpdm-pool
    version: 7.3.0-SNAPSHOT
    alias: bpdm-pool
    condition: bpdm-pool.enabled
  - name: bpdm-cleaning-service-dummy
    version: 3.3.0-SNAPSHOT
    alias: bpdm-cleaning-service-dummy
    condition: bpdm-cleaning-service-dummy.enabled
  - name: bpdm-orchestrator
    version: 3.3.0-SNAPSHOT
    alias: bpdm-orchestrator
    condition: bpdm-orchestrator.enabled
  - name: bpdm-common
    version: 1.0.2
  - name: postgresql
    version: 12.12.10
    repository: https://charts.bitnami.com/bitnami
    alias: postgres
    condition: postgres.enabled
  - name: centralidp
    version: 3.0.1
    repository: https://eclipse-tractusx.github.io/charts/dev
    alias: centralidp
    condition: centralidp.enabled
