# IntelliJ specific
/.idea/*
# keep code styles
!/.idea/codeStyles
/.idea/codeStyles/*
!/.idea/codeStyles/Project.xml
!/.idea/codeStyles/codeStyleConfig.xml
# keep inspection levels
!/.idea/inspectionProfiles
/.idea/inspectionProfiles/*
!/.idea/inspectionProfiles/Project_Default.xml
# keep copyright settings
!/.idea/copyright
# keep custom scopes
!/.idea/scopes
*.iml
#created artifacts
target
#local database data
/db
#Helm dependencies
/charts/bpdm/Chart.lock
/charts/bpdm/charts/Chart.lock
/charts/bpdm/charts/bpdm-gate/Chart.lock
/charts/bpdm/charts/bpdm-pool/Chart.lock
#Developer application properties
application-developer.properties
application-developer.yml
*.drawio.svg.bkp
