image:
  tag: "v3.0.0"

springProfiles:
  - auth
  - pool-auth

ingress:
  enabled: true
  hosts:
    - host: partners-gate.int.demo.catena-x.net
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: tls-secret
      hosts:
        - partners-gate.int.demo.catena-x.net

applicationConfig:
  bpdm:
    pool:
      base-url: http://poolv2-bpdm:8080/api/catena
    cdq:
      storage: 38d2277e20c730b4b8e8f182adcef7ca
      datasource: 621338451197b7667a5fbda4
  keycloak:
    auth-server-url: https://centralidp.int.demo.catena-x.net/auth
    realm: CX-Central
    resource: Cl16-CX-BPDMGate
  spring:
    security:
      oauth2:
        client:
          registration:
            gate-client:
              # Client ID used for getting token different from own Client to validate tokens
              client-id: sa-cl16-cx-1

applicationSecrets:
  spring:
    security:
      oauth2:
        client:
          registration:
            gate-client:
              client-secret: <path:bpdm/data/int/gate/service-account#client-secret>
  bpdm:
    cdq:
      api-key: <path:bpdm/data/int/gate/cdq#api-key>