################################################################################
# Copyright (c) 2021,2024 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
################################################################################

name: 'Perform Trivy Scan on All Apps'
on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches:
      - main
      - 'release/**'
jobs:
  scan-image:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app: [pool, gate, orchestrator, cleaning-service-dummy]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build App Image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: docker/${{ matrix.app }}/Dockerfile
          tags: bpdm-${{ matrix.app }}:test
          load: true

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.0
        with:
          image-ref: "bpdm-${{ matrix.app }}:test"
          exit-code: "1"
          severity: "CRITICAL,HIGH"
          timeout: 15m
          vuln-type: library
