name: Build All - Docker images (SemVer)
on:
  push:
    # only execute when source specific files or workflows change
    paths:
      - pom.xml
      - bpdm-pool/**
      - bpdm-gate/**
      - bpdm-common/**
      - bpdm-gate-api/**
      - .github/workflows/**
    tags:
      - 'v*.*.*'
      - 'v*.*.*-*'
    branches:
      - main
      - rc/**
      - feat/Dockerfile_for_dummy_bridge
  pull_request:
    branches:
      - main
      - rc/**
jobs:
  build-docker-pool:
    uses: ./.github/workflows/build-docker.yaml
    with:
      imageName: pool
      dockerfilePath: ./bpdm-pool/Dockerfile
      push: ${{ github.event_name != 'pull_request' }}

  build-docker-gate:
    uses: ./.github/workflows/build-docker.yaml
    with:
      imageName: gate
      dockerfilePath: ./bpdm-gate/Dockerfile
      push: ${{ github.event_name != 'pull_request' }}

  build-docker-bridge-dummy:
    uses: ./.github/workflows/build-docker.yaml
    with:
      imageName: bridge-dummy
      dockerfilePath: ./bpdm-bridge-dummy/Dockerfile
      push: ${{ github.event_name != 'pull_request' }}