name: Build - Docker image (SemVer)

on:
  workflow_call:
    inputs:
      imageName:
        required: true
        type: string
        description: Name the built image should get
      dockerfilePath:
        required: true
        type: string
        description: Path to where the Dockerfile to build is
      push:
        required: true
        type: boolean
        description: Whether to also push created image or just build it


env:
  # Use docker.io for Docker Hub if empty
  REGISTRY: ghcr.io
  # github.repository as <account>/<repo>
  IMAGE_NAME: ${{ github.repository }}/${{ inputs.imageName }}
jobs:
  jobs:
    build-docker:
      runs-on: ubuntu-latest
      permissions:
        packages: write
      steps:
        - name: Checkout
          uses: actions/checkout@v3

        # Create SemVer or ref tags dependent of trigger event
        - name: Docker meta
          id: meta
          uses: docker/metadata-action@v4
          with:
            images: |
              ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
            tags: |
              type=ref,event=branch
              type=ref,event=pr
              type=semver,pattern={{version}}
              type=semver,pattern={{major}}
              type=semver,pattern={{major}}.{{minor}}

        - name: Log into registry ${{ env.REGISTRY }}
          if: github.event_name != 'pull_request'
          uses: docker/login-action@v2
          with:
            registry: ${{ env.REGISTRY }}
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Build and push
          uses: docker/build-push-action@v3
          with:
            context: .
            push: ${{ inputs.push }}
            file: ${{ inputs.dockerfilePath }}
            tags: ${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}