name: Full Vera Code Scan

on:
  push:
    branches:
      - main
      - rc/**
  schedule:
    # Once a day
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      #Setup Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      #Create/Get Maven package cache
      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      #Package application with Maven
      - name: Package to JAR
        run: ./mvnw -B package -DskipTests

      #Create the directory which will be uploaded to Veracode
      - name: Create Veracode Upload Directory
        run: mkdir -p target/veracode

      #Copy the bpdm-pool jar to directory which gets uploaded to Veracode
      - name: Copy Pool JAR
        run: cp bpdm-pool/target/bpdm-pool.jar target/veracode/bpdm-pool.jar

      #Copy the bpdm-gate jar to directory which gets uploaded to Veracode
      - name: Copy Gate JAR
        run: cp bpdm-gate/target/bpdm-gate.jar target/veracode/bpdm-gate.jar

      #Copy the bpdm-bridge-dummy jar to directory which gets uploaded to Veracode
      - name: Copy Bridge Dummy JAR
        run: cp bpdm-bridge-dummy/target/bpdm-bridge-dummy.jar target/veracode/bpdm-bridge-dummy.jar

      #Start Veracode scan
      - name: Run Veracode Upload And Scan
        uses: veracode/veracode-uploadandscan-action@0.2.1
        with:
          appname: "BPDM - Business Partner Data Management"
          createprofile: false
          filepath: target/veracode
          vid: "${{ secrets.VERACODE_API_ID }}"
          vkey: "${{ secrets.VERACODE_API_KEY }}"